.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonGroup{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.ButtonPlus{
  background-color: lightgreen;
  opacity: 0.5;
}

.ButtonMoins{
  background-color: red;
  opacity: 0.5;

}

.Count-too-high{
  color: lightcoral;
  font-weight: bold;
  font-size: 1em;
}

.warningMessage{
  background: lightcoral;
  border-radius: 6px;
  padding: 8px;
}


